CustomConnector
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "comments": "This is a consolidated json file for deploying Have I Been Pwned custom connector + 3 playbooks",
    "author": "Sindhu Talluri, Have I Been Pwned"
  },
  "parameters": {
    "HaveIBeenPwned_ConnectorName": {
      "defaultValue": "HaveIBeenPwnedConnector",
      "type": "String",
      "metadata": {
        "description": "Name of the HaveIBeenPwned Connector"
      }
    },
    "Service_EndPoint": {
      "defaultValue": "https://haveibeenpwned.com/api/v3",
      "type": "String",
      "metadata": {
        "description": "enter the HaveIBeenPwned endpoint "
      }
    },
    "HaveIBeenPwned_Enrichment_GetAccountBreaches_Playbook_Name": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "HaveIBeenPwned_Enrichment_GetAccountBreaches",
      "metadata": {
        "description": "Enter the playbook name"
      }
    },
    "HaveIBeenPwned_Enrichment_GetSiteBreaches_Playbook_Name": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "HaveIBeenPwned_Enrichment_GetSiteBreaches",
      "metadata": {
        "description": "Enter the playbook name"
      }
    },

    "HaveIBeenPwned_ResponseonTeams_Playbook_Name": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "HaveIBeenPwned_ResponseonTeams",
      "metadata": {
        "description": "Enter the playbook name"
      }
    }

},
  "variables": {
   
    "TeamsConnectionName": "[concat('teamsconnector-', 'HaveIBeenPwnedPlaybooks')]",
    "azuresentinel_Connection_Name": "[concat('azuresentinel-', 'HaveIBeenPwnedPlaybooks')]",
    "HaveIBeenPwnedConnector_Connection_Name": "[concat('HaveIBeenPwnedConnector-',  'HaveIBeenPwnedPlaybooks')]",
    "office365_Connection_Name": "[concat('office365-',  'HaveIBeenPwnedPlaybooks')]"

  },
  "resources": [

    {
      "type": "Microsoft.Web/customApis",
      "apiVersion": "2016-06-01",
      "name": "HaveIBeenPwnedConnector",
      "location": "[resourceGroup().location]",
      "properties": {
        "connectionParameters": {
          "api_key": {
            "type": "securestring",
            "uiDefinition": {
              "displayName": "hibp-api-key",
              "description": "The hibp-api-key for this api",
              "tooltip": "Provide your hibp-api-key",
              "constraints": {
                "tabIndex": 2,
                "clearText": false,
                "required": "true"
              }
            }
          }
        },
        "backendService": {
          "serviceUrl": "https://haveibeenpwned.com/api/v3"
        },
        "brandColor": "#FFFFFF",
        "description": "HaveIBeenPwned custom connector",
        "displayName": "[parameters('HaveIBeenPwned_ConnectorName')]",
        "iconUri": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAwMEBAQEBQkGBQUFBQsICAYJDQsNDQ0LDAwOEBQRDg8TDwwMEhgSExUWFxcXDhEZGxkWGhQWFxb/2wBDAQQEBAUFBQoGBgoWDwwPFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhb/wAARCACWAIsDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDyJfvCnp2pi/eFWdNtrq9voLGxtLi7url9kFvbxNLLM3XaiKCWOATwO1faXsfAdQWnx9PxpbiGa2uZLa5hkhmhcpLFIhV42BwVYHkEEYINJH/WqIkSr3p6Uxe9OSgzZMvenR96YGCqSauX1hqGnSrFqWnXljI6h1ju7Z4WZf7wVgDjg8+1O/Qhp2bGpn9Keuc1Gn9KkX71MgcAdtSr0H0qL+GpE6D6UEskXrUi/dqNetSL92qM2SR/eH1qRelRR/eH1qVfu0EMfH2+tPpkfb60+qIPP1r6I/ZW0WDwX8EPFnx2kgS71a0guLHRInAK2oVljaU+7SEA/wCwmP4jXzsvUVt2virxHB4Rk8Kwa7fx6JPJ5kunLMRA7bg2SvQ/MAfqM1wYinKpDlT0vr6H0GGrRo1HNrW2nqZ91PJJJJc3lwZJJHLyzSty7E5LMT1JJJ/GnJ90EHOa7X9nTxL4V8I/FKDXPGWkNqmmR2c0QiW2ScxSvs2yhHIBwFceo3cVm/EK9sfFPxP1e+8KaLcw2epXsk1jYQWu6RUxniOPOOhJC5AzWvO/aONtEtzF017JT5tb2t19TAUdaelX28O+JI43kl8Ma7Gkalnd9KnVUUDJYkpgADqTTdO0bW721FzY6Dq93A5IWa206aWNsHBwyqQecjg9qrnj3MXCV9iOw/5CFr/18xf+jFr3r/goW3/F4dFjALPJoaBEUZZz583AA5J+leGtp+o6fqdkmo6be2LyXETIt3bPCzDzVGQHAJGe9fW/7VfxJs/hz4wtbjQ9As7jxffacEXVbyLzBZ2gkkwsYzksXLkgEDgZzwK4sTNqvTcVd6/oehhYReErKcuVXj+vQ+R5IpoJvKuLea3k27vLmiaNseu1gDikaRIhukZVXOMk45r6a0vxL/wvL9mrxbP4qsLNdc8JxvcQXkEW3lYvNVlGSVLBXRgOD1x6eJ/B/wAcWvw+1y+19/D2natfNaiKwk1A/u7F92TIBjJJGBwVPHWt6eInOMly+9HS1/1OWthadOUH7T3JK97foc21tdR2v2iWyu4ocZ82S3dY8f7xGP1pFPzKoBZj0Cgkn8BXvnwf+PnxB8QfEjSdJ8QWlvqGj61eJZzJHpTKkIk4V1cAggHGdxIxn60afcab8Lv23JLDTUW10jUJUs5IVACQrdRxuoUdlWYpj0FZ/W6qlKMormSurO5TwNKcYzhP3XLld1tf5ngy9akj+ZCVBIXgkDgfU13n7UnhoeEfjJrMEcBjtL1v7RtVC4BSXJZVA9JBIv4Cu9+Oyn4e/sx+E/h1FH/xMtSUXuooMAlwfMcEe80igH0jNbPFK1PlV+f+mc/1JqVXnduT8XeyXzPCoAZLhYYkeSZvuxRIXc/RRk1PJHLDJ5VxDLDJjOyaMxtj1wwBr6I8WXF38CPAui+GvBGhfavEWq2/2nV9Z/s97htwwCAQuPvbgqnhVXpk5qf4aarq3xr8L654Q+IGhsNQs7UXOl6q+nNbsjklRjIA3Btv3cBlJBHesfr0re1Ufc9dfWxt/ZcedUef95ba2m17X/4Fj5wTt9afTcMrbWGGBwR796dXpHinny/eFPj7UxfvCnx9RWCPYZseENA1rxR4it9B8O6dLqGpXW4xW8TKpIVdzMSxAAAHUmtbQ9S8XfC/4iS3FozaR4g0lpLaUSRxzGLcAGUg7lORjnnsRXon7GFjaaBq2vfF3xDJJb6H4TsHt42A5u7qYL+7T+8Qm0Y/vSr6GvLfHXiC78V+NNV8S30axXGq3j3LxocrHuPCA9wowM+1cym6lWVO14pfj2OiVNU6UKilabenouv3ne6p+0H8W9S0u60+78URvb3kLwyqNNt1JRlKkAhMjgnmqXgP40/Ejwf4WtfDnh7X47XTbEMLeBrCCTYGYuRuZCT8zE8nvXnq96ener+q0OW3IvuMnjMTzczm7+p13jzx/wCLPH2u6XdeK9UW+kspUjtytvHEEVpUJ4QAHJA5PpXq/wDwUK/5K9o//YCT/wBHzV4Dbu0cySrjdG6uuemQQR+oFdX8WPiDr/xH8Qwaz4hWzW4trUW0YtYTGmwMzcgsTnLHvUuilVpuCtFX/EpYm+HqRm25Saf3eZ6n+yP/AMkR+MGf+gV/7aT1H+xn4a0a7tfFnjTUNGi1rUfDVuDpdhKu4b/KeTcFIPzsVCK2DjBxya818A+P9e8I+GPEGgaQtn9l8S2/kXzTRF3C7GT5DkYO126g1H8MPHHiTwDr7ar4bvVhklQR3EUkYeK4QHIV1PXB6EYIycHk1nVw9WSq2+1a3yLpYujGVFyV+W99O7dvuPWvhF8afi545+LWk6PZ3MMli9/G+pWtlp0YitbUMDJudgWQbcgZbcSQBzXMftj7h+0PrjI5VvLtCrDqp+zxkEfQ4NS+Iv2h/iFqkCw2q6Royeek0/8AZlo0bXJVgwDszsdpxggYyMgnBIrh/iF4p1Pxr4wuvEusLbreXgQSLbxlIxsQIMAknoo70qGHlGuqnIoq1rJixWLhPDOl7RylzXu/Tpqz6X1Lw3H8adN+F/jcQxsIbgLro/2IwXZD7efDt+kteMftS+Kj4l+NeqXkL+da6RItlaBTncIWy2D/ALUnmfgRVT4X/F/xj4D8M3GhaDJY/ZZ5nnU3FsZHhdgAxQ7h6A4IIz9a4fczNuZixPJJPJ96eGws6dVuXwq6j82TjcfTq0UqfxSs5fJWX+Z9V/tNeO/HWiaPoHi3wPq7x+HtStMzyw2kcypI2GRmZlO0MrYHbKkda8n0v41fGLVzLFpmv3d6Y4meU2mlwyeUgGWZmWPCgDPJrL+F/wAYPGvgfTRpemXdtd6apYpZX8Pmxx5OTtIIZQTk4BxknitjxR8e/Hms6JPpUK6RpNrdRNFOunWW1nVhhhudmxkE8jB9DUU8JKmuT2UZW6/0jSvmEKz9qq0o6fCu/lqjzNSWOScknJPrTqYuOMCn16x88efL94U+PqKYv3hT4+1YI9hllZpfJ8nzX8vdu2bjtzjGcdM+9EfT8a3fhPomi+I/iJpOieI9cGi6VeTMt1fl0TylCMwAZ/lXcwVctwM1b+MGg+HvDPxF1HRPCuu/23pVqY/IvvMSTeSilhvQBW2sSMj0qPaRVTk67lypy9l7Tpexzi96elQXTtHaTOpwyoxB9wK9t/ai8CeFfB/gb4f33hzShZXGtadJLqEnnySGdxHbMGO9iBzI/THX6UTqxjOMHvK/4ERoynCc1tG34ux48tPjNMWnR962OVk8f9KevWmR/wBKeKCR4qROg+lRLyKlX09BQSx69akX7tRr1qRR8tUZskj6j61Ip+Woo/vD61KvSghj4+31p9Mj7fWn1RB58v3hT4+1MX7wp8fasEewzrvgj4f03xX8YPDfhvV1lbT9Uv8AyblYpTG7IInbAYcjlR0rQ/aE8M6V4O+MmueGtESWPT9PmjWBJpTI6hoY3ILHk8setO/Zc/5OQ8Ff9hU/+iJa1f2wv+TlPFX/AF3g/wDSaGubml9a5b6cv6nS4R+pudtea34HmV9/x4XH/XJ/5Gvsv45eFvBmsfDHwF4g+IHiC403QtC0kK1pZj/SdRmlhg2RRnqABExOBnnOVAJr40vv+PC4/wCuT/yNfSX7bQP/AArb4Vtg4GlSjPbPk2n68H9ayxcXKtSSdt/yLwU1ChWk430WnzJfDvw6+C/xZ8Palb/DBdW0LxFpsIlS21G4dxMpyFLKzuCjEbSysCpIzxwfHvhT4H1fx38R7Xwfp7fZJpC7Xs7x7hZwxnEjle5BIUDIyzDtmu//AGBhct+0JmDd5S6HdG4x0CmSELn/AIF0+ldx+yO1lJ+1R8SpLcx7Xa4Nqy45j+3Pnb7f6v8ASsp1qlD2sVJuyTV+l9DWNClivYycVG7adtE7K/8AwDmtYtf2afCWuTeGb3S/FOuy2jmG81iO9faJF4faEkQHacg7Exxxmua/aF+Gdn4Eu9L1bw/qUmpeG9fhM2n3MhDOnAbYzAAMCrBlbAJGQRkZN+bxL+z+lxIknwi14OrsH3a9NkEE5zmb1zVf48fE/wAN+K/hPo/gzwv4YvdJs9DYtAbq6ExSNYmQIDksfvdSew/C6KrKpCylbrfb1RliPq7pTTcbr4eVNO99nprp36mn4D+G/gvQvhVZ/Ef4sXeotb6sw/sjQ9PcxyzoQSrOwIYllG/7yqq4ySTitrQfAnwo+Kmj6lb/AA2h1fQfEenQeeljqFwZI7leg+87jBOF3KQVJBIIPPaftC6j8OtN8D+BW8YeEr7X7WTTiNPNnfvbpbgRQ5BCuudw24z021w3w9+Knwf8E+If7b8M/DTWrK+MDW/mnVmlzGxUsu15COqqemeKxjPEVYOpFS5r6bW+46J0sLRqKnPkUbK9782q3vY479m3whpHjT4vW/h3xHBcNZ/Y7iaSKKdoX3x7AAWUg8ZPFdreeE/gh8PNRbRvHV5q3iPWi7G6TTXdbfTVJyqEIylmCkZyWbvhcgVS/ZFvV1L9qRtRSEQreWuoXAiznYHdW2574zj8K8++K/PxU8TZ/wCg1ef+j3rrlGpVxDg5NKy2OCMqVHBqooKT5mrtdLLodr+0Z8NNI8FtpOveF72S60DXYy1qJJPMaJtoYYc8srKcjPIwQa8yX7te5fGYl/2PfhozHccW4yf+vaSvDV+7WuDnKVL3ndptfczkzKnThX9xWTSdvVXHx9vrT6ZH2+tPrtPNPPl+8KfH2pi/eFPj7Vgj2Gdd8E9f0/wp8XfDvibVRMbLSb7z5xAm6Qr5bp8oJGeWHf1q78ffFOmeNfjBrnijR0uFsdQmjaEXCBJMLDGhyATjlD36VxSmnx9PxqPZx9p7TraxTqy9n7Ppe/z2HXCGW2ljBALoVH4ivpnXPjt8Nte8L6J4J8SeFr3VfDqaXFFfzGIR3NpdRqqrJDh+RgNyCrDPGckV80r3p6GorYeFZpy6DoYqdDm5ba9z6Gsfil8J/hj4S1S2+D+kapPrmrIEfUtTBPkgA7SS53HaSSEACknJPr5N8IvG2qeAfiBa+KdNX7RLCGjuYJHIW6if76M3YkgEN2YA4PQ8utPjNEMLTjGS35t7iq42pOUWtOXa2yPePE2s/s2+MdWm8RarY+LNF1G6YzXltZcRzSNyx+XcuSTklduep5rg/i5qfw4vP7Nsfh14avtLtbJZftV5fzF575m27d2WY4Xa2Mn+LoMVxKf0p643UU8MoST5m0vMitjJVYtOEVfd21PafAXxU8H6r8Lbb4e/FbRL2/sNNwNO1Cxb99CBkJn5gwKglQyk5XAI7lFu/wBm7QVkurHRfFHie6CnyLfUJSkAbHG7lRgeu1j7V40DxUidvpS+pwu+WTSfRMf1+pZc0YtrZtanffs2+LtI8C/Fa38Ra4Lg2cVlPARbR733PtxwSOPlNc7421KDWPGmsavaq6wahqM9zEsgAYK8jMAQO+DWMvWpFPy10KlFVHU6tWOOVecqKpPZO/3nqPxC8faFrfwA8HeC7JLz+0tD8v7W0kQWL5YnQ7WzzksO3SvNl+70qOPqPrUi9KKdONNWj3v95GIrzrSUpb2S+7QfH2+tPpkfb60+tjmPPl+8KfH2rR8D6FdeKPGmkeGrKeGC41i9S0immBKRs38TAckDB6V6vp/7NPjH+2tUXW9e0Xw/oml3X2Ya1qRMcd62Acwxkg7ecbmYZION2M1xTxFKm7Tdj36eGq1VeEbnjq0+P+telfGr4H+J/hxpFvrk2oWGt6HdMqpqVgGAQsPl3oScBuzBiD0yCRnOvvhZrNp8DbD4opqljdabfTiJ7WFH861Jdk+dj8pw67Tj+8KaxFJxUlLRu3zJnhq0ZSi46pX+Rxa96eldf8DvhvrHxQ8WXOhaPe2tibO0+1XFzdIzIqlwiqAvViSe/RTXOeK9MuvDmvappGopi40q4lt5wnOWjYg49jjj6irVSDm4X1RhKlNQVS3uvS5AvenR967P4ufDLWPhxouh3uuajYzXGuWzXC2UCuJLUKEJDluvLheO4NdfN+zZ46i8RJYHUtITTlsEvbzW598VrbBiw8vDfM7gLk4wACCSMgGPrVFRUnLR/oV9SxDk4qGqt+J5Iv8ASnr9416l8SvgPr/hTwa3izTdf0vxNo8Shp7jTwVaJc4LgbmDIDwSGyO4xkjzvwtouq+I/EVroWhWMl9qN8xWCBCBnAyzMx4VQOSx4A98Crp16dSLlF6Ixq4etSmoTjZvbzKY+7Uq9B9K9kj/AGdLyO4XSr74l+EbbXnxjSd5Mm4gELkuHJ5/ue+K828f+Edd8E+JZNB8Q2ggu41DqUfdHKh6Ojd1OD75BBAIpUsTSqy5YSuwrYSvSjzTjZGOvWu4+BPw8n+JXiu40S31aPTPstkbppZLczbvnVNoAZcfezmtL4WfBPxH4w8K/wDCVXmrab4c0JhuhvNRyWmXON4XKhUzwCzDPYYwT7B+y/8AC3XfAPxTu9RuLyx1bR9Q0Ux2mqWEmY5H85DtK5JBwCeCQeee1c+KxtOEJqEveR1YLLatStB1IPkf5fnY+dvA/hXWfFvjCDw1oMMU19Mz486Xy40VPvOzYOAPYE+gr1C1/Z01edns7bx/4VudUjUlrCIuWBHUZDFh9dleQfabm11OeS0uJoJGeRC8UhRirEhlyOxHBHemafPd2moW02lO8epLOhsfI4l8/cNgTHOS2K3qRrS1hOy9L/ecVGphoaVafM797aeS7mr4w8O6x4V8QzaJrtmbW8tyNy5DK6no6MOGU9j/ACIIrNr3f9un7OfEHhcyCMal/Z0v2oL1C712fhu83H414RV4Ws61GM2tWRj8PHD4iVOL0RR/Zx/5OE8Ef9h6D/2au6/bw1zVdR/aA1DRby9kl0/R4bdLG2J/dw+ZBHI7BehYsxyx5wAOgFcL+zl/ycJ4I/7DsH/s1fRH7SXwm8O/Ev4qalL4X8ZaXpXi6yEMer6dqjssc6+SjRzR4+YfuyoJUFeOdpyT59apCGLhKe1v1PoKFOpUwU4w35v0Of8A2b7iTXv2MfiT4f1FmltNHS5ezVjkQ/6Os4VR2AkUsB/tGo/2SXHjf4A/ED4VzNuuFiN9pyZ7yLlcewniU/8AA6m8e3Xhj4J/s4X/AML9J8RWuueKvEkjHVp7RhtiD7VkLAE7FEaCNFJ3HJb1rzr9j/xXH4S+Pmj3V1cLBZakJNOu3dgqKsg3IzE8ACRI+fc1l7N1KVWcVpe6+Rr7RUq9GnJ9LP5nf/st6xH8M/2e/EnxOvIV8zUtdtNPgSQfegikRZcfTzLk/wDAKm+Pfw7TV/20PD9jbwrJYeLZbbUZdg+UxwjM/wCawgn/AK6Co/20r/w3o/gvw18O/Cl5bT6et1d6ndRwTrKFaSRioJU45aabj0Ar0j4N+MfCd58GfDPxC8QahZnXfB+g3lkYpLpFlJARXG0nJZxbxkeu/wB6ylKcV9ZS1ldf5fkaRp05f7JJq0OV38/tfgzwv9trxMPEXxv1W3hkDW2h266dFjpuXLSfj5jsv/ARXoH7f2s6oknhfw+l7Iumz2LXU1svCyyhlVWb1wCcA8AnPWvm/WLq61O6vL67kMt1eyPNM56s7ksx/Mmvef28NS07UfFHhY6ff2t2ItIcSG3nWQKS64BKk46Guz2KhVoQ7X/JHn/WJVKWIqJ2u4/mXf2MriW5+FHxO0WZi1kuneasJPyq0kE6uQO2Qi5+lL/wT9sLf7Z4x8QtPDb3llpsFvDczAFbdX813cg9sxoT67aofscahp9h4L+JK319a2xn0qNYhPOsZkIiuMhQx56jp6isD9kbx9pXgbxleWfiM7NG1+yW1upSCVgdc7GYDnaQ7qcdNwPQGsq0JS+sKK/l/wCCa4epCH1Vzf8AN+bsaV38IvCV3cS3U/7QPhma6uHMr3LRgyNITnzC3nZ3Z5zWn+2brHh3XtG8H2+l+JtP1zVLW1lttQvLKQOWyIhvbBOMsHYDPc1Fq37ON9cX0l14U8d+FrvRJGLW1xcXRDpH2DbAytgdwRnHQVwHxb8IaV4P1Cz0nTvGFl4iuJLUvezWKgRW0mcBFIZs8c8nI9sgVrR9nVqwaqOTV7K1unoYYj2lKjUj7FRi7XfNfr0uz1n9ua5fTh4T8HWWYdKs7AzLAvCMy4iTI77VU49Nxpf2A9Y1IeNdW8PfbJDpn9nfbFtScokwlVd6j+EkMQcdcDPStbxVp+kftBfDjQdQ0rxDpmm+KdIiMV3a3r4ByF3ggfNtLKGVgCOSDznGn+zd4d8D/DLxfc6ZqHjHTtU8V31kzXUsEoS0sYEdf3IYtjezMG5+YhScKBzySqQWCdFr310t57nbCjUlmUcRF/u3bW/la33nzDdf8hCb/rs3/oRr6B8K6pp3w6/Zg8M+O9I8KaJca9dXj2xvLu13SDc8+X3jDZxGBjcODivn24Ia+lKngysQfX5jXqGv+ENGtv2aNH8TDxlf3WoTSRt/ZEl6jW0TuzB1SHG5WUck57H149LFRjNU4yeja+eh4mBnOnKrOC1UXrpptr5nEeMvEmseLPEU2ua7dm5vLjALY2qijoiqOFUdh9TySTWZzTI+31p9d0YqKSSsjzJTlOTlJ3bMf4G6jY6P8avCer6pdR2tjYavDPczyZ2xIM5Y47ciuh/ay13RfFHx+1zWtCv4NR0+4+zCG5i5R9tvGjYJHOGUj8K82Wnry1cnsl7VVPK343Pc9s1SdLpe/wChKmAMAAfQU9cFcGmLT4/61sc7JYwq52gD6CnKF3ZKgn1xTV709KDNkq06EKM4AH0FNXvTo+9UZtkyhSeQDj2qRfvdaYv9Kev3jQSO2J12L+VSx4Cge1RD7tSr0H0oJY/CseQD9RT1CmPBUY9MUxetSL92qM2SRnkVIoHUAZ9cc1HH94fWpF+7R1JY+Pt9afTI+31p9UZnny/eFPj7UUVgj2GTLT4+n40UUyWSr3pyUUUGbJV70+PvRRVIzZMn9KkXrRRQSOH3akXoPpRRQSyRetSL92iiqM2Pj+8PrUq9KKKCGPj7fWn0UVRB/9k=",
        "swagger": {
          "swagger": "2.0",
          "info": {
            "title": "Default title",
            "description": "HaveIBeenPwned custom connector",
            "version": "1.0"
          },
          "host": "haveibeenpwned.com",
          "basePath": "/",
          "schemes": [ "https" ],
          "consumes": [],
          "produces": [],
          "paths": {
            "/api/v3/breachedaccount/{account}": {
              "get": {
                "responses": {
                  "default": {
                    "description": "default",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          }
                        }
                      }
                    }
                  }
                },
                "summary": "Get all breaches for an account",
                "description": "Getting all breaches for an account",
                "operationId": "Getallbreachesforanaccount",
                "x-ms-visibility": "important",
                "parameters": [
                  {
                    "name": "account",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "Enter the account name",
                    "x-ms-summary": "Accountname"
                  }
                ]
              }
            },
            "/api/v3/breaches": {
              "get": {
                "responses": {
                  "default": {
                    "description": "default",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Title": {
                            "type": "string",
                            "description": "Title"
                          },
                          "Domain": {
                            "type": "string",
                            "description": "Domain"
                          },
                          "BreachDate": {
                            "type": "string",
                            "description": "BreachDate"
                          },
                          "AddedDate": {
                            "type": "string",
                            "description": "AddedDate"
                          },
                          "ModifiedDate": {
                            "type": "string",
                            "description": "ModifiedDate"
                          },
                          "PwnCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PwnCount"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LogoPath": {
                            "type": "string",
                            "description": "LogoPath"
                          },
                          "DataClasses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "DataClasses"
                          },
                          "IsVerified": {
                            "type": "boolean",
                            "description": "IsVerified"
                          },
                          "IsFabricated": {
                            "type": "boolean",
                            "description": "IsFabricated"
                          },
                          "IsSensitive": {
                            "type": "boolean",
                            "description": "IsSensitive"
                          },
                          "IsRetired": {
                            "type": "boolean",
                            "description": "IsRetired"
                          },
                          "IsSpamList": {
                            "type": "boolean",
                            "description": "IsSpamList"
                          }
                        }
                      }
                    }
                  }
                },
                "summary": "Get breached site Information",
                "description": "Get breached site information",
                "operationId": "Getbreachedsiteinformation",
                "x-ms-visibility": "important",
                "parameters": [
                  {
                    "name": "domain",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "description": "filter by site/domain ex : adobe.com",
                    "x-ms-summary": "domain",
                    "x-ms-visibility": "advanced"
                  }
                ]
              }
            },
            "/api/v3/dataclasses": {
              "get": {
                "responses": {
                  "default": {
                    "description": "default",
                    "schema": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                },
                "summary": "Get all data classes in the system",
                "description": "Get all data classes in the system",
                "operationId": "Getalldataclassesinthesystem",
                "x-ms-visibility": "important",
                "parameters": []
              }
            },
            "/api/v3/pasteaccount/{account}": {
              "get": {
                "responses": {
                  "default": {
                    "description": "default",
                    "schema": {}
                  }
                },
                "summary": "Get all pastes for an account",
                "description": "Get all pastes for an account",
                "operationId": "Getallpastesforanaccount",
                "x-ms-visibility": "important",
                "parameters": [
                  {
                    "name": "account",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "Enter account name to get pastes",
                    "x-ms-summary": "Account name"
                  }
                ]
              }
            }
          },
          "definitions": {},
          "parameters": {},
          "responses": {},
          "securityDefinitions": {
            "API Key": {
              "type": "apiKey",
              "in": "header",
              "name": "hibp-api-key"
            }
          },
          "security": [
            {
              "API Key": []
            }
          ],
          "tags": []
        }
      }
    },

    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('HaveIBeenPwnedConnector_Connection_Name')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [

        "[resourceId('Microsoft.Web/customApis', 'HaveIBeenPwnedConnector')]"
      ],
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/HaveIBeenPwnedConnector')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azuresentinel_Connection_Name')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('TeamsConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365_Connection_Name')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    },
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong></strong><strong>@{outputs('Compose_image_to_update_in_the_incident')}</strong><strong>Have i Been Pwned_BreachedsitesEnrichment </strong>Playbook was triggered and below breached information was collected :<br>\n@{variables('Breaches')}</p>"
                },
                "path": "/Incidents/Comment"
              },
              "runAfter": {
                "Compose_image_to_update_in_the_incident": [
                  "Succeeded"
                ]
              },
              "description": "This adds comment to the Incident"
            },
            "Compose_image_to_update_in_the_incident": {
              "type": "Compose",
              "inputs": "<img src=\"https://www.bing.com/th?id=OIP.bhGpY9L2aqT2B00nX_gOoAEiEi&w=93&h=100&c=8&rs=1&qlt=90&dpr=1.5&pid=3.1&rm=2\" alt=\"Lamp\" width=\"32\" height=\"32\">",
              "runAfter": {
                "For_each_URL": [
                  "Succeeded"
                ]
              },
              "description": "This composes HaveIBeenPwned image to be added to the Incident"
            },
            "Entities_-_Get_URLs": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/url"
              },
              "runAfter": {}

            },
            "For_each_URL": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
              "actions": {
                "Get_breached_site_information": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['HaveIBeenPwnedConnector']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/api/v3/breaches",
                    "queries": {
                      "domain": "@items('For_each_URL')?['Url']"
                    }
                  },
                  "runAfter": {},
                  "description": "Get breached information for particular site from Have i been pwned"
                },
                "Switch_to_check_the_status_of_API_response_from_HaveIBeenPwned": {
                  "type": "Switch",
                  "expression": "@outputs('Get_breached_site_information')['statusCode']",
                  "cases": {
                    "Case-No_data_found": {
                      "case": 404,
                      "actions": {
                        "Append_to_string_variable_breaches_if_no_breach_information_found": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "Breaches",
                            "value": "There are no breaches found for the site : @{items('For_each_URL')?['Url']}"
                          },
                          "runAfter": {},
                          "description": "This appends no data if no information for sites are found"
                        }
                      }
                    },
                    "Case-Success": {
                      "case": 200,
                      "actions": {
                        "Append_to_string_variable_breaches_with_all_the_breach_information": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "Breaches",
                            "value": "For the site : @{items('For_each_URL')?['Url']}\n@{body('Create_HTML_table_for_site_breach_information')}"
                          },
                          "runAfter": {
                            "Create_HTML_table_for_site_breach_information": [
                              "Succeeded"
                            ]
                          },
                          "description": "This appends breach information to the variable breaches"
                        },
                        "Create_HTML_table_for_site_breach_information": {
                          "type": "Table",
                          "inputs": {
                            "from": "@body('Get_breached_site_information')",
                            "format": "HTML",
                            "columns": [
                              {
                                "header": "Name",
                                "value": "@item()?['Name']"
                              },
                              {
                                "header": "Title",
                                "value": "@item()?['Title']"
                              },
                              {
                                "header": "Domain",
                                "value": "@item()?['Domain']"
                              },
                              {
                                "header": "BreachDate",
                                "value": "@item()?['BreachDate']"
                              },
                              {
                                "header": "AddedDate",
                                "value": "@item()?['AddedDate']"
                              },
                              {
                                "header": "ModifiedDate",
                                "value": "@item()?['ModifiedDate']"
                              },
                              {
                                "header": "PwnCount",
                                "value": "@item()?['PwnCount']"
                              }
                            ]
                          },
                          "runAfter": {},
                          "description": "This create HTML table format for the site breach information"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Append_to_string_variable__in_case_of_improper_API_response": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "Breaches",
                          "value": "Improper response from API . \nstatus Code :  @{outputs('Get_breached_site_information')['statusCode']}"
                        },
                        "runAfter": {},
                        "description": "This appends status code of API in case of improper response"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_breached_site_information": [
                      "Succeeded"
                    ]
                  },
                  "description": "This checks on the API response returned"
                }
              },
              "runAfter": {
                "Initialize_variable_breach_information": [
                  "Succeeded"
                ]
              },
              "description": "This iterates on each URL to perform set of actions",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 20
                }
              }
            },
            "Initialize_variable_breach_information": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Breaches",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "Entities_-_Get_URLs": [
                  "Succeeded"
                ]
              },
              "description": "This holds the value of breach information"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}

        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel_Connection_Name'))]",
                "connectionName": "[variables('azuresentinel_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              },
              "HaveIBeenPwnedConnector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('HaveIBeenPwnedConnector_Connection_Name'))]",
                "connectionName": "[variables('HaveIBeenPwnedConnector_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/HaveIBeenPwnedConnector')]"
              }

            }
          }
        }
      },
      "name": "[parameters('HaveIBeenPwned_Enrichment_GetSiteBreaches_Playbook_Name')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",

      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('HaveIBeenPwnedConnector_Connection_Name'))]"
      ]
    },

    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "Compose_image_to_update_in_the_incident": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong></strong><strong>@{outputs('Compose_image_to_update_in_the_incident')}</strong><strong>Have i Been Pwned</strong> Enrichment Playbook was triggered the below breached information was collected :<br>\n@{variables('Breaches')}<br>\n</p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              },
              "description": "This adds comment to the incident"
            },
            "Compose_image_to_update_in_the_incident": {
              "type": "Compose",
              "inputs": "<img src=\"https://www.bing.com/th?id=OIP.bhGpY9L2aqT2B00nX_gOoAEiEi&w=93&h=100&c=8&rs=1&qlt=90&dpr=1.5&pid=3.1&rm=2\" alt=\"Lamp\" width=\"32\" height=\"32\">",
              "runAfter": {
                "For_each_account": [
                  "Succeeded"
                ]
              },
              "description": "This composes  HaveIBeenPwned logo to be updated in the incident"
            },
            "Entities_-_Get_Accounts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account"
              },
              "description": "Get Accounts from Azure Sentinel"

            },
            "For_each_account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Get_all_breaches_for_an_account": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['HaveIBeenPwnedConnector']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/api/v3/breachedaccount/@{encodeURIComponent(items('For_each_account')?['Name'])}"
                  },
                  "description": "This gets all the breaches for the account from have i been pwned"
                },
                "Switch_to_check_the_status_of_API_response": {
                  "type": "Switch",
                  "expression": "@outputs('Get_all_breaches_for_an_account')['statusCode']",
                  "cases": {
                    "Case-No_data_found": {
                      "case": 404,
                      "actions": {
                        "Append_to_string_variable_breaches_if_no_breach_information_found": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "Breaches",
                            "value": "There are no breaches found for the account : @{items('For_each_account')?['Name']}"
                          },
                          "runAfter": {},
                          "description": "This appends the variable if no breach information found"
                        }
                      }
                    },
                    "Case-Success": {
                      "case": 200,
                      "actions": {
                        "Append_to_string_variable_breaches_with_all_the_breach_information": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "Breaches",
                            "value": "For account : @{items('For_each_account')?['Name']}@{body('Create_HTML_table_for_breach_information')}"
                          },
                          "runAfter": {
                            "Create_HTML_table_for_breach_information": [
                              "Succeeded"
                            ]
                          },
                          "description": "This appends the variable with all the breach information returned from API"
                        },
                        "Create_HTML_table_for_breach_information": {
                          "type": "Table",
                          "inputs": {
                            "from": "@body('Get_all_breaches_for_an_account')",
                            "format": "HTML",
                            "columns": [
                              {
                                "header": "Breached Information-websites",
                                "value": "@item()?['Name']"
                              }
                            ]
                          },
                          "runAfter": {},
                          "description": "This creates HTML table format for all the breach information of that particular account"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Append_to_string_variable_if_API_returns_improper_response": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "Breaches",
                          "value": "Improper response from API . \nstatus Code : @{outputs('Get_all_breaches_for_an_account')['statusCode']}"
                        },
                        "runAfter": {},
                        "description": "This appends the variable if API returns improper response"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_all_breaches_for_an_account": [
                      "Succeeded"
                    ]
                  },
                  "description": "This checks on the API response and act accordingly"
                }
              },
              "runAfter": {
                "Initialize_variable_breaches_to_hold_the_breach_information": [
                  "Succeeded"
                ]
              },
              "description": "Iterates on each risky account from Azure sentinel",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 20
                }
              }
            },
            "Initialize_variable_breaches_to_hold_the_breach_information": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Breaches",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              },
              "description": "This holds the breach information"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}

        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel_Connection_Name'))]",
                "connectionName": "[variables('azuresentinel_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              },
              "HaveIBeenPwnedConnector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('HaveIBeenPwnedConnector_Connection_Name'))]",
                "connectionName": "[variables('HaveIBeenPwnedConnector_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/HaveIBeenPwnedConnector')]"
              }
            }
          }
        }
      },
      "name": "[parameters('HaveIBeenPwned_Enrichment_GetAccountBreaches_Playbook_Name')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",

      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azuresentinel_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('HaveIBeenPwnedConnector_Connection_Name'))]"
      ]
    },
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "For_each_account": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p>@{outputs('Compose_image_to_add_in_the_Incident')}<strong>Have I Been Pwned_ResponseonTeams</strong> Playbook was triggered the below information was collected :<br>\n@{variables('BreachInfo')}<br>\n@{variables('ActionTaken')}</p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              },
              "description": "This adds comments to the Incident"
            },
            "Compose_image_to_add_in_the_Incident": {
              "type": "Compose",
              "inputs": "<img src=\"https://www.bing.com/th?id=OIP.bhGpY9L2aqT2B00nX_gOoAEiEi&w=93&h=100&c=8&rs=1&qlt=90&dpr=1.5&pid=3.1&rm=2\" alt=\"Lamp\" width=\"32\" height=\"32\">",
              "runAfter": {
                "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                  "Succeeded"
                ]
              },
              "description": "This composes the HaveIBeenPwned logo to attach in the incident"
            },
            "Entities_-_Get_Accounts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/account"
              },
              "description": "Get List of risky user accounts from Azure Sentinel"

            },
            "For_each_account": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
              "actions": {
                "Get_all_breaches_for_an_account": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['HaveIBeenPwnedConnector']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/api/v3/breachedaccount/@{encodeURIComponent(items('For_each_account')?['Name'])}"
                  },
                  "description": "This calls the HaveIBeenPwned API to retrieve the data breaches for an account"
                },
                "Switch_to_check_the_response_of_API": {
                  "type": "Switch",
                  "expression": "@outputs('Get_all_breaches_for_an_account')['statusCode']",
                  "cases": {
                    "Case-No_data_found": {
                      "case": 404,
                      "actions": {
                        "Set_variable_Action_taken_if_no_data_found": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ActionTaken",
                            "value": "As there are no breaches found.No Action taken by SOC"
                          },
                          "runAfter": {
                            "Set_variable_breach_information_if_no_data_found": [
                              "Succeeded"
                            ]
                          },
                          "description": "This sets the action taken variable if no data found"
                        },
                        "Set_variable_breach_information_if_no_data_found": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "BreachInfo",
                            "value": "There are no breaches found"
                          },
                          "runAfter": {},
                          "description": "This sets the breach info variable if no data found"
                        }
                      }
                    },
                    "Case-Success": {
                      "case": 200,
                      "actions": {
                        "Append_to_string_variable_Breach_Information": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "BreachInfo",
                            "value": "Breach Information for account : @{items('For_each_account')?['Name']} @{body('Create_HTML_table_of_all_the_data_breaches')}"
                          },
                          "runAfter": {
                            "Create_HTML_table_of_all_the_data_breaches": [
                              "Succeeded"
                            ]
                          },
                          "description": "This appends Breach Information"
                        },
                        "Condition_based_on_the_SOC_choice_from_adaptive_card": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['submitActionId']",
                                  "Send Email and Change Incident Configuration"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Send_an_email_of_breach_information_to_user": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "Body": "<p>Hi,<br>\n<br>\nYour email account was pwned in the below data breaches :<br>\n<br>\n@{body('Create_HTML_table_of_all_the_data_breaches')}<br>\n<br>\nWe recommend to change the password.<br>\n<br>\nThanks<br>\nHave I Been Pwned Team<br>\n</p>",
                                  "Subject": "Your Email Account was Pwned!!",
                                  "To": "@items('For_each_account')?['Name']"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                              },
                              "description": "This sends the user breach information and also recommends to change password"
                            },
                            "Set_variable_action_taken": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ActionTaken",
                                "value": "Email sent to user and Incident Configuration updated"
                              },
                              "runAfter": {
                                "Send_an_email_of_breach_information_to_user": [
                                  "Succeeded"
                                ]
                              },
                              "description": "This sets the action taken variable incase if user selects to send email to user and  change incident configuration"
                            },
                            "Update_incident": {
                              "runAfter": {
                                "Set_variable_action_taken": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "classification": {
                                    "ClassificationAndReason": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['incidentStatus']}",
                                    "ClassificationReasonText": "HaveIBeenPwned_ResponsefromTeams playbook ran and closed this incident"
                                  },
                                  "incidentArmId": "@triggerBody()?['object']?['id']",
                                  "severity": "@{body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')['data']['incidentSeverity']}",
                                  "status": "Closed"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                  }
                                },
                                "method": "put",
                                "path": "/Incidents"
                              },
                              "description": "This updates the Incident based on the adaptive card choices"
                            }
                          },
                          "runAfter": {
                            "Append_to_string_variable_Breach_Information": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Set_variable__action_taken_if_SOC_chooses_to_Ignore": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "ActionTaken",
                                  "value": "SOC Ignored the Incident"
                                },
                                "runAfter": {},
                                "description": "This hold the Action taken  variable in case if SOC chooses to Ignore the Incident"
                              }
                            }
                          },
                          "description": "This checks on the condition based on the choice selected from adaptive card"
                        },
                        "Create_HTML_table_of_all_the_data_breaches": {
                          "type": "Table",
                          "inputs": {
                            "from": "@body('Get_all_breaches_for_an_account')",
                            "format": "HTML",
                            "columns": [
                              {
                                "header": "Breached Information-websites",
                                "value": "@item()?['Name']"
                              }
                            ]
                          },
                          "runAfter": {},
                          "description": "This creates the HTML table format for the breach information"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Set_variable_Action_taken_if_API_response_is_improper": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ActionTaken",
                          "value": "As there is improper response from API.No Action taken by SOC"
                        },
                        "runAfter": {
                          "Set_variable_breach_information_if_no_API_response_is_improper": [
                            "Succeeded"
                          ]
                        },
                        "description": "This sets the action taken variable if API response is improper"
                      },
                      "Set_variable_breach_information_if_no_API_response_is_improper": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "BreachInfo",
                          "value": "Improper response from API . \nstatus Code :  @{outputs('Get_all_breaches_for_an_account')['statusCode']}"
                        },
                        "runAfter": {},
                        "description": "This sets the breach info variable if API response is improper"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_all_breaches_for_an_account": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Compose_image_to_add_in_the_Incident": [
                  "Succeeded"
                ]
              },
              "description": "This iterates on each account",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Initialize_variable_Breach_Information": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "BreachInfo",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "Entities_-_Get_Accounts": [
                  "Succeeded"
                ]
              },
              "description": "This holds the breach information"
            },
            "Initialize_variable_action_taken": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ActionTaken",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable_Breach_Information": [
                  "Succeeded"
                ]
              },
              "description": "This holds the action taken on SOC to comment in the Incident"
            },
            "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
              "runAfter": {
                "Select_account_names": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "body": {
                    "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\":[\n{\n  \"columns\": [\n    {\n      \"items\": [\n  {\n    \"size\": \"large\",\n    \"text\": \"Suspicious Device - Azure Sentinel\",\n    \"type\": \"TextBlock\",\n    \"weight\": \"bolder\",\n    \"wrap\": true\n  },\n  {\n    \"text\": \"Possible comprised accounts detected by the provider \",\n    \"type\": \"TextBlock\",\n    \"wrap\": true\n  },\n  {\n    \"text\": \"  Incident HIBP\",\n    \"type\": \"TextBlock\",\n    \"weight\": \"Bolder\",\n    \"wrap\": true\n  },\n  {\n    \"text\": \" Incident No:  @{triggerBody()?['object']?['properties']?['incidentNumber']} \",\n    \"type\": \"TextBlock\",\n    \"weight\": \"Bolder\",\n    \"wrap\": true\n  },\n  {\n    \"text\": \"Incident description: \",\n    \"type\": \"TextBlock\",\n    \"weight\": \"Bolder\",\n    \"wrap\": true\n  },\n  {\n    \"text\": \"@{triggerBody()?['object']?['properties']?['description']}\",\n    \"type\": \"TextBlock\",\n    \"weight\": \"Bolder\",\n    \"wrap\": true\n  },\n  {\n    \"text\": \"[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})\",\n    \"type\": \"TextBlock\",\n    \"wrap\": true\n  },\n  {\n    \"size\": \"Small\",\n    \"type\": \"Image\",\n    \"url\": \"https://www.bing.com/th?id=OIP.bhGpY9L2aqT2B00nX_gOoAEiEi&w=93&h=100&c=8&rs=1&qlt=90&dpr=1.5&pid=3.1&rm=2\"\n  },\n  {\n    \"text\": \"Accounts to be checked in Have I been Pwned \",\n    \"type\": \"TextBlock\",\n    \"weight\": \"Bolder\"\n  }\n],\n      \"type\": \"Column\"\n    }\n  ],\n  \"type\": \"ColumnSet\"\n},\n{\n  \"columns\": [\n    {\n      \"items\": @{body('Select_account_names')},\n      \"type\": \"Column\",\n  \"wrap\": true\n    }\n  ],\n  \"type\": \"ColumnSet\"\n},\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"size\": \"Medium\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Incident configuration:\",\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Close Azure Sentinal incident?\"\n        },\n        {\n            \"choices\": [\n                {\n                    \"isSelected\": true,\n                    \"title\": \"False Positive - Inaccurate Data\",\n                    \"value\": \"False Positive - Inaccurate Data\"\n                },\n                {\n                    \"isSelected\": true,\n                    \"title\": \"False Positive - Incorrect Alert Logic\",\n                    \"value\": \"False Positive - Incorrect Alert Logic\"\n                },\n                {\n                    \"title\": \"True Positive - Suspicious Activity\",\n                    \"value\": \"True Positive - Suspicious Activity\"\n                },\n                {\n                    \"title\": \"Benign Positive - Suspicious But Expected\",\n                    \"value\": \"Benign Positive - Suspicious But Expected\"\n                },\n                {\n                    \"title\": \"Undetermined\",\n                    \"value\": \"Undetermined\"\n                }\n            ],\n            \"id\": \"incidentStatus\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"Benign Positive - Suspicious But Expected\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Change Azure Sentinel Incident Severity?\"\n        },\n        {\n            \"choices\": [\n                {\n                  \n                    \"title\": \"High\",\n                    \"value\": \"High\"\n                },\n                {\n                    \"title\": \"Medium\",\n                    \"value\": \"Medium\"\n                },\n                {\n                    \"title\": \"Low\",\n                    \"value\": \"Low\"\n                },\n                {\n                    \"title\": \"Don't change\",\n                    \"value\": \"same\"\n                }\n            ],\n            \"id\": \"incidentSeverity\",\n            \"style\": \"compact\",\n            \"type\": \"Input.ChoiceSet\",\n            \"value\": \"@{triggerBody()?['object']?['properties']?['severity']}\"\n        }\n],\n\t\"actions\": [\n{\n  \"title\": \"Send Email and Change Incident Configuration\",\n  \"type\": \"Action.Submit\"\n},\n{\n  \"title\": \"Ignore\",\n  \"type\": \"Action.Submit\"\n}\n],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}",
                    "recipient": {
                      "channelId": "19:7abc1180c1d84a3fba83770e34231132@thread.tacv2"
                    },
                    "shouldUpdateCard": true
                  },
                  "notificationUrl": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['teams']['connectionId']"
                  }
                },
                "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                "queries": {
                  "groupId": "18de1100-ab2e-4505-be42-8263b915b221"
                }
              },
              "description": "This posts the adaptive card to SOC channel"
            },
            "Select_account_names": {
              "type": "Select",
              "inputs": {
                "from": "@body('Entities_-_Get_Accounts')?['Accounts']",
                "select": {
                  "text": "@item()?['Name']",
                  "type": "TextBlock"
                }
              },
              "runAfter": {
                "Initialize_variable_action_taken": [
                  "Succeeded"
                ]
              },
              "description": "This selects the account names to be displayed in the adaptive card"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}

        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel_Connection_Name'))]",
                "connectionName": "[variables('azuresentinel_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              },
              "HaveIBeenPwnedConnector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('HaveIBeenPwnedConnector_Connection_Name'))]",
                "connectionName": "[variables('HaveIBeenPwnedConnector_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/HaveIBeenPwnedConnector')]"
              },
              "office365": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365_Connection_Name'))]",
                "connectionName": "[variables('office365_Connection_Name')]"
              },
              "teams": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                "connectionName": "[variables('TeamsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
              }
            }
          }
        }

      },
      "name": "[parameters('HaveIBeenPwned_ResponseonTeams_Playbook_Name')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",

      "apiVersion": "2016-06-01",
      "dependsOn": [

        "[resourceId('Microsoft.Web/connections', variables('azuresentinel_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('HaveIBeenPwnedConnector_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('office365_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
      ]
    }



  ]
}
